.dingdansection{
	width: 100%;
	overflow: hidden;
	margin-bottom: 20px;
}
.dingdansection>div{
	width: 1200px;
	margin: 0 auto;
	
}

.title{
	margin-top: 20px;
	height: 22px;
	/*background: red;*/
	padding: 10px;
	font-size: 18px;
	font-weight: 900;
	
}
#order>li{
	border: 1px solid #CD853F;
	overflow: hidden;
	float: left;
	width: 420px;
	margin:10px 0 0 10px ;
	height: 330px;
}
.title>span{
	margin-left: 20px;
	background:  #ccc;
	color:black;
	padding: 7px;
	border-radius: 12px;
	cursor: pointer;
}
.title>span:hover{
		background: orange;
	    color:white;	
}
.order-goods{
	padding: 10px;
}
.order-goods>span{
	display: block;
}
.order-goods>img{
	width: 200px;
	height: 150px;
	margin-top: 10px;
	margin-bottom: 10px;
}
